/* .amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
    align-self: flex-end;
    margin-bottom: 0px;
}

header {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

#logo {
    max-width: 150px;
    max-height: 170px;
    margin-top: 40px;
}

#search-bar {
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    justify-content: space-between;
    width: min(900px, 75%);
    margin: 0 auto 30px;
}

#search {
    display: flex;
    width: 100%;
}

#search-button {
    background-color: white;
    border: none;
    padding-right: 0px;
    margin-right: 5px;
}

#search-icon {
    width: 30px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid grey;
}

input {
    border: none; 
    margin-left: 5px;
    font-size: 1.5em;
}

input::placeholder {
    color: grey;
    margin-left: 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    align-self: flex-end;
    margin-bottom: 0px;
    color: rgb(0, 163, 212);
    margin-top: 30px;
}

#recipe-container {
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;

    width: min(900px, 70%);
    margin: 0 auto 30px;
}

#recipe-container p {
    display: none;
}

#recipe-img {
    max-width: 100%
}

.recipe-tags {
    padding: 5px;
}

.tag {
    width: auto;
    font-size: 1.5em;
}

.social {
    display: flex;
    justify-content: center;
}

.rating {
    margin-bottom: 10px;
}

.icon img {
    width: 50px;
    margin: 5px;
}
.icon-star-empty {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.icon-star {
    font-size: 2em;
}
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    margin: 20px auto;
    
}

@media (min-width: 700px) {

    header {
        font-size: 1.5em;
    }
    
    #recipe-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #recipe-container {
        display: flex;
    }

    #recipe-img {
        max-width: 40%;
        margin: 10px 5px 5px 5px;
    }
    #recipe-container p {
        display: flex;
        font-size: 1.5em;
    }
    #details {
        margin-left: 20px;
        
    }
    .recipe-tags {
        margin-top: 10px;
    }

    footer {
        flex-direction: row-reverse;
        width: 95%;
        justify-content: space-between;
    }


}